In [1]:
import numpy as np 
import pandas as pd
import os
import urllib
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
url = "https://covid19.who.int/WHO-COVID-19-global-data.csv "
file_path = os.path.join("data", "covid")

In [3]:
os.makedirs(file_path, exist_ok = True)
csv_path = os.path.join(file_path, "WHO-COVID-19-global-data.csv")
urllib.request.urlretrieve(url,csv_path)

('data/covid/WHO-COVID-19-global-data.csv',
 <http.client.HTTPMessage at 0x7fd076dcb070>)

In [4]:
df = pd.read_csv(csv_path)

In [5]:
df

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
119917,2021-05-18,ZW,Zimbabwe,AFRO,12,38572,0,1582
119918,2021-05-19,ZW,Zimbabwe,AFRO,23,38595,1,1583
119919,2021-05-20,ZW,Zimbabwe,AFRO,17,38612,0,1583
119920,2021-05-21,ZW,Zimbabwe,AFRO,23,38635,2,1585
119921,2021-05-22,ZW,Zimbabwe,AFRO,29,38664,1,1586

In [6]:
df_index = df.index
df_index

RangeIndex(start=0, stop=119922, step=1)

In [7]:
df_cols = df.columns
df_cols

Index(['Date_reported', 'Country_code', 'Country', 'WHO_region', 'New_cases',
       'Cumulative_cases', 'New_deaths', 'Cumulative_deaths'],
      dtype='object')

In [8]:
df_index.values

array([     0,      1,      2, ..., 119919, 119920, 119921])

In [9]:
df.dtypes

Date_reported        object
Country_code         object
Country              object
WHO_region           object
New_cases             int64
Cumulative_cases      int64
New_deaths            int64
Cumulative_deaths     int64
dtype: object

In [10]:
df.shape

(119922, 8)

In [11]:
df.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0

In [12]:
df.tail()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
119917,2021-05-18,ZW,Zimbabwe,AFRO,12,38572,0,1582
119918,2021-05-19,ZW,Zimbabwe,AFRO,23,38595,1,1583
119919,2021-05-20,ZW,Zimbabwe,AFRO,17,38612,0,1583
119920,2021-05-21,ZW,Zimbabwe,AFRO,23,38635,2,1585
119921,2021-05-22,ZW,Zimbabwe,AFRO,29,38664,1,1586

In [13]:
df.info

<bound method DataFrame.info of        Date_reported Country_code      Country WHO_region  New_cases  \
0         2020-01-03           AF  Afghanistan       EMRO          0
1         2020-01-04           AF  Afghanistan       EMRO          0
2         2020-01-05           AF  Afghanistan       EMRO          0
3         2020-01-06           AF  Afghanistan       EMRO          0
4         2020-01-07           AF  Afghanistan       EMRO          0
...              ...          ...          ...        ...        ...
119917    2021-05-18           ZW     Zimbabwe       AFRO         12
119918    2021-05-19           ZW     Zimbabwe       AFRO         23
119919    2021-05-20           ZW     Zimbabwe       AFRO         17
119920    2021-05-21           ZW     Zimbabwe       AFRO         23
119921    2021-05-22           ZW     Zimbabwe       AFRO         29

        Cumulative_cases  New_deaths  Cumulative_deaths
0                      0           0                  0
1                      0           0                  0
2                      0           0                  0
3                      0           0                  0
4                      0           0                  0
...                  ...         ...                ...
119917             38572           0               1582
119918             38595           1               1583
119919             38612           0               1583
119920             38635           2               1585
119921             38664           1               1586

[119922 rows x 8 columns]>

In [14]:
df.describe()

           New_cases  Cumulative_cases     New_deaths  Cumulative_deaths
count  119922.000000      1.199220e+05  119922.000000      119922.000000
mean     1382.335435      2.076656e+05      28.664840        4972.842873
std      9560.007094      1.329020e+06     162.939564       26953.028692
min    -32952.000000      0.000000e+00     -43.000000           0.000000
25%         0.000000      1.600000e+01       0.000000           0.000000
50%         6.000000      2.049000e+03       0.000000          33.000000
75%       277.000000      3.906000e+04       4.000000         649.000000
max    414188.000000      3.273499e+07    6508.000000      582953.000000

In [15]:
df["Country"]

0         Afghanistan
1         Afghanistan
2         Afghanistan
3         Afghanistan
4         Afghanistan
             ...
119917       Zimbabwe
119918       Zimbabwe
119919       Zimbabwe
119920       Zimbabwe
119921       Zimbabwe
Name: Country, Length: 119922, dtype: object

In [16]:
df["Country"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bonaire',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', 'Côte d’Ivoire', 'Croatia', 'Cuba', 'Curaçao',
       'Cyprus', 'Czechia', "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Falkland Islands (Malvinas)',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Isle of Man',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo[1]', 'Kuwait',
       'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique',
       'Mauritania', 'Mauritius', 'Mayotte', 'Mexico',
       'Micronesia (Federated States of)', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North Macedonia',
       'Northern Mariana Islands (Commonwealth of the)', 'Norway',
       'occupied Palestinian territory, including east Jerusalem', 'Oman',
       'Other', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Pitcairn Islands', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'Réunion', 'Romania', 'Russian Federation',
       'Rwanda', 'Saba', 'Saint Barthélemy', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Martin',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Eustatius', 'Sint Maarten', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The United Kingdom', 'Timor-Leste', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Republic of Tanzania',
       'United States of America', 'United States Virgin Islands',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam',
       'Wallis and Futuna', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [17]:
df.columns = [col.strip() for col in df.columns]
df.columns

Index(['Date_reported', 'Country_code', 'Country', 'WHO_region', 'New_cases',
       'Cumulative_cases', 'New_deaths', 'Cumulative_deaths'],
      dtype='object')

In [18]:
df.Country

0         Afghanistan
1         Afghanistan
2         Afghanistan
3         Afghanistan
4         Afghanistan
             ...
119917       Zimbabwe
119918       Zimbabwe
119919       Zimbabwe
119920       Zimbabwe
119921       Zimbabwe
Name: Country, Length: 119922, dtype: object

In [19]:
df.loc[1:4,'Country']

1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: Country, dtype: object

In [20]:
df.loc[1:8,['Country', 'New_cases']]

       Country  New_cases
1  Afghanistan          0
2  Afghanistan          0
3  Afghanistan          0
4  Afghanistan          0
5  Afghanistan          0
6  Afghanistan          0
7  Afghanistan          0
8  Afghanistan          0

In [21]:
df.Country == 'United States of America'

0         False
1         False
2         False
3         False
4         False
          ...
119917    False
119918    False
119919    False
119920    False
119921    False
Name: Country, Length: 119922, dtype: bool

In [22]:
df[df.Country == 'United States of America']

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
114356,2020-01-03,US,United States of America,AMRO,0,0,0,0
114357,2020-01-04,US,United States of America,AMRO,0,0,0,0
114358,2020-01-05,US,United States of America,AMRO,0,0,0,0
114359,2020-01-06,US,United States of America,AMRO,0,0,0,0
114360,2020-01-07,US,United States of America,AMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
114857,2021-05-18,US,United States of America,AMRO,17984,32623220,302,580468
114858,2021-05-19,US,United States of America,AMRO,23942,32647162,515,580983
114859,2021-05-20,US,United States of America,AMRO,29792,32676954,734,581717
114860,2021-05-21,US,United States of America,AMRO,29296,32706250,629,582346
114861,2021-05-22,US,United States of America,AMRO,28743,32734993,607,582953

In [23]:
df[df.New_deaths > 1000]

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
4322,2020-10-03,AR,Argentina,AMRO,14001,765002,3351,20288
12393,2020-09-08,BO,Bolivia (Plurinational State of),AMRO,528,120769,1610,7008
14307,2020-05-21,BR,Brazil,AMRO,17408,271628,1179,17971
14309,2020-05-23,BR,Brazil,AMRO,18508,310087,1188,20047
14310,2020-05-24,BR,Brazil,AMRO,20803,330890,1001,21048
...,...,...,...,...,...,...,...,...
114798,2021-03-20,US,United States of America,AMRO,58402,29405167,1343,538556
114799,2021-03-21,US,United States of America,AMRO,61405,29466572,1359,539915
114804,2021-03-26,US,United States of America,AMRO,65751,29747372,1091,543855
114805,2021-03-27,US,United States of America,AMRO,67796,29815168,1237,545092
114806,2021-03-28,US,United States of America,AMRO,71388,29886556,1170,546262

In [24]:
df.loc[df.New_deaths > 1000, ['New_deaths', 'Country']]

        New_deaths                           Country
4322          3351                         Argentina
12393         1610  Bolivia (Plurinational State of)
14307         1179                            Brazil
14309         1188                            Brazil
14310         1001                            Brazil
...            ...                               ...
114798        1343          United States of America
114799        1359          United States of America
114804        1091          United States of America
114805        1237          United States of America
114806        1170          United States of America

[575 rows x 2 columns]

In [25]:
df.loc[(df.New_deaths > 1000) & (df.Country_code == 'US'), ['Date_reported', 'Country', 'New_cases', 'New_deaths', 'Cumulative_deaths']]

,Date_reported,Country,New_cases,New_deaths,Cumulative_deaths
114449,2020-04-05,United States of America,35131,1067,6856
114450,2020-04-06,United States of America,30593,1157,8013
114451,2020-04-07,United States of America,25511,1364,9377
114452,2020-04-08,United States of America,42604,3243,12620
114454,2020-04-10,United States of America,31714,1958,15252
...,...,...,...,...,...
114798,2021-03-20,United States of America,58402,1343,538556
114799,2021-03-21,United States of America,61405,1359,539915
114804,2021-03-26,United States of America,65751,1091,543855
114805,2021-03-27,United States of America,67796,1237,545092
114806,2021-03-28,United States of America,71388,1170,546262

In [26]:
df.loc[df.Country_code == 'US', ['New_cases']].max()

New_cases    312247
dtype: int64

In [27]:
df.loc[df.Country_code == 'US', ['New_cases']].min()

New_cases    0
dtype: int64

In [28]:
df.loc[df.Country_code == 'US', ['New_cases']].sum()

New_cases    32734993
dtype: int64

In [29]:
df.loc[df.Country_code == 'US', ['New_deaths']].sum()

New_deaths    582953
dtype: int64

In [30]:
df.loc[df.Country_code == 'US', ['Cumulative_deaths']].max()

Cumulative_deaths    582953
dtype: int64

In [31]:
df.loc[(df.New_deaths > 1000) & (df.Country_code == 'US'), ['Date_reported', 'Country', 'New_cases', 'New_deaths', 'Cumulative_deaths']]

,Date_reported,Country,New_cases,New_deaths,Cumulative_deaths
114449,2020-04-05,United States of America,35131,1067,6856
114450,2020-04-06,United States of America,30593,1157,8013
114451,2020-04-07,United States of America,25511,1364,9377
114452,2020-04-08,United States of America,42604,3243,12620
114454,2020-04-10,United States of America,31714,1958,15252
...,...,...,...,...,...
114798,2021-03-20,United States of America,58402,1343,538556
114799,2021-03-21,United States of America,61405,1359,539915
114804,2021-03-26,United States of America,65751,1091,543855
114805,2021-03-27,United States of America,67796,1237,545092
114806,2021-03-28,United States of America,71388,1170,546262

In [32]:
df.New_deaths.idxmax()

114461

In [33]:
df.loc[df.New_deaths.idxmax(),['Date_reported', 'Country', 'New_cases', 'New_deaths', 'Cumulative_deaths']]

Date_reported                      2020-04-17
Country              United States of America
New_cases                               27172
New_deaths                               6508
Cumulative_deaths                       32047
Name: 114461, dtype: object

In [34]:
df[df.New_deaths < 0]

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
1226,2020-08-04,DZ,Algeria,AFRO,507,31972,-2,1229
2806,2020-10-05,AO,Angola,AFRO,0,5370,-4,185
7324,2020-08-30,BS,Bahamas,AMRO,37,2057,-10,40
7541,2021-04-04,BS,Bahamas,AMRO,35,9234,-1,188
16384,2020-07-13,BF,Burkina Faso,AFRO,13,1033,-1,53
22928,2020-06-09,CG,Congo,AFRO,0,683,-2,20
25525,2020-08-15,CU,Cuba,AMRO,55,3229,-1,88
27002,2020-07-05,CZ,Czechia,EURO,121,12440,-1,351
27003,2020-07-06,CZ,Czechia,EURO,75,12515,-3,348
32746,2020-12-30,ER,Eritrea,AFRO,181,1220,-1,1
32831,2021-03-25,ER,Eritrea,AFRO,20,3183,-27,8
33636,2020-08-30,SZ,Eswatini,AFRO,49,4510,-2,91
33843,2021-03-25,SZ,Eswatini,AFRO,5,17301,-2,666
37397,2021-04-06,GF,French Guiana,AMRO,0,17132,-3,93
42689,2020-07-06,GP,Guadeloupe,AMRO,0,184,-2,14
43639,2020-05-05,GT,Guatemala,AMRO,15,703,-2,17
44711,2020-07-04,GN,Guinea,AFRO,71,5521,-13,33
47433,2021-01-12,HN,Honduras,AMRO,719,127945,-2,3273
50874,2020-10-03,IE,Ireland,EURO,466,37063,-5,1801
52292,2020-06-25,IT,Italy,EURO,577,239410,-31,34644
59583,2021-01-18,LS,Lesotho,AFRO,0,6371,-4,93
64705,2021-03-21,ML,Mali,AFRO,204,9270,-3,360
67463,2020-06-16,YT,Mayotte,AFRO,28,2310,-1,28
72608,2020-09-09,NaN,Namibia,AFRO,118,8928,-2,89
83566,2020-03-19,PH,Philippines,WPRO,15,202,-2,17
85637,2020-05-05,PR,Puerto Rico,AMRO,35,1843,-43,54
87773,2020-08-25,RE,Réunion,AFRO,35,1244,-4,2
94750,2020-05-10,ST,Sao Tome and Principe,AFRO,-43,165,-1,4
98767,2020-04-09,SX,Sint Maarten,AMRO,-3,37,-2,6
101847,2020-05-23,SS,South Sudan,AFRO,0,473,-1,5
101957,2020-09-10,SS,South Sudan,AFRO,0,2555,-1,48
102044,2020-12-06,SS,South Sudan,AFRO,12,3166,-1,61
102199,2021-05-10,SS,South Sudan,AFRO,0,10637,-1,115
108224,2021-03-24,TG,Togo,AFRO,117,9077,-9,95
112778,2021-03-24,UG,Uganda,AFRO,32,40719,-5,334
112818,2021-05-03,UG,Uganda,AFRO,66,41973,-1,342
119594,2020-06-29,ZW,Zimbabwe,AFRO,0,567,-1,6

In [35]:
df['percent_cases'] = (df['New_cases']/df['Cumulative_cases'])*100
df

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths,percent_cases
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0,NaN
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0,NaN
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0,NaN
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0,NaN
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...
119917,2021-05-18,ZW,Zimbabwe,AFRO,12,38572,0,1582,0.031111
119918,2021-05-19,ZW,Zimbabwe,AFRO,23,38595,1,1583,0.059593
119919,2021-05-20,ZW,Zimbabwe,AFRO,17,38612,0,1583,0.044028
119920,2021-05-21,ZW,Zimbabwe,AFRO,23,38635,2,1585,0.059532
119921,2021-05-22,ZW,Zimbabwe,AFRO,29,38664,1,1586,0.075005